.profile {
width: 350px;
    margin-top: 20px;
    border-radius: 0px 0px 4px 4px;
   
}

.description{    
margin-top: 10px;
border: 2px;
text-align: center;
font-size:  20px;
}

.name {
margin-top: 10px;
margin-bottom: 15px;
font-size: 24px;
font-weight: 700;
text-transform: uppercase;
color: blue;

}
.location{
font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.tag{
font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

.stats {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
    list-style: none;
    font-size: 18px;

}

.label{
color: chocolate;

}
.quantity{
margin-left: 8px;
color: green;
font-size: 20px;
}