.friends__list {
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 0;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
list-style: none;
padding: 20px;
margin-bottom: 8px;;
border-radius: 4px;
outline: 1px solid black;
width: 250px;
}

.statusOn{
    width: 30px;
    height: 30px;
border-radius: 50%;
background-color: green;
margin-right: 20px;
}
.statusOff {
width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: red;
}

.avatar{
width: 100px;
margin-right: 10px;
}

.name{

margin-bottom: 15px;
color: darkgreen;
font-size: 24px;
}