.item{
    display: flex;
    justify-content: center;
list-style: none;
margin-bottom: 8px;;
border-radius: 4px;
outline: 1px solid black;
width: 250px;
}

.statusOn{
    box-sizing: border-box;
border-radius: 50%;
color: green;
}
.statusOff {
box-sizing: border-box;
    border-radius: 50%;
    color: red;
}

.avatar{
width: 48px;
height: 48px;
}

.name{
margin-left: 20px;
color: darkgreen;
font-size: 24px;
}